# C++ objects and libs

*.DS_Store
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cmake-build-*
/cmake-build-*

*.autosave
CMakeLists.txt.user*

# CLion
/*.idea
*.idea
